<!DOCTYPE html>
<html ng-app="cubeSum">
<head>
	<title>Cube-summation</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container " ng-controller="cubeController"> 

		<input type="text" class="form-control" ng-model="query.text">
		<button ng-click="checkReq">Enviar</button>



	</div>





</body>

<script src="/js/angular.min.js"></script>
<script  src="/js/controllers.js"></script>

</html>
